<body><div>

    <form [formGroup]="addmedicine" (ngSubmit)="regstration()">
      <!-- class named "container" is assigned to div -->
      <div class="container ">
        <h1 >Register MedicineDetails</h1>
        <div class="user-details">
          <div class="part-one">
            <label for="medicineName"><b> MedicineName</b></label><br>
            <input type="text" placeholder="Enter medicinename" formControlName="medicineName"
              id="medicineName" ng-required/>
            <br>
            <label for="price"><b>Price</b></label><br>
            <input type="text" placeholder="Enter price" formControlName="price"
              id="price" ng-required/>
            <br>
            <label for="mfdDate"><b>mfdDate</b></label><br>
            <input type="text" placeholder="Enter date" formControlName="mfdDate"
              id="mfdDate" ng-required/>
            <br>
            <label for="expDate"><b>expDate</b></label><br>
            <input type="text" placeholder="Enter expDate" formControlName="expDate" id="expDate" ng-required />
              <br>
              <label for="quantity"><b>Quantity</b></label><br>
              <input type="number" placeholder="Enter quantity" formControlName="quantity"
                id="quantity" ng-required/>
            </div>
        </div>
        <button class="btn btn-info" type="submit">Register Medicine</button>&nbsp; &nbsp;
        <button class="btn btn-info"type="reset">Reset</button>
      </div>
      </form>
  </div>
  </body>

